#SPDX-License-Identifier: MIT-0
---
# tasks file for rhel_centos_repo
- name: Display IPv4.
  debug: 
    msg: "{{ ansible_all_ipv4_addresses[0] }}"

- name: Check for /etc/yum.repos.d/centos9.repo file exists.
  stat:
    path: /etc/yum.repos.d/centos9.repo
  register: yumrepo

- name: Transfer centos9.repo file to RHEL9 target system.
  copy:
    dest: "/etc/yum.repos.d/centos9.repo"
    src: "files/centos9.repo"
    mode: "0644"
    owner: "root"
    group: "root"
  when: not yumrepo.stat.exists
  #when: yumrepo.stat.isdir is defined and yumrepo.stat.isdir

- name: check for /etc/yum.repos.d/redhat.repo file exists.
  stat:
    path: /etc/yum.repos.d/redhat.repo
  register: redhatrepo

- name: Delete redhat.repo file.
  file:
    path: /etc/yum.repos.d/redhat.repo
    state: absent
    owner: "root"
    group: "root"
  when: redhatrepo.stat.exists